@using Flowdash_Mini.ViewModels.Settings
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Settings";
}
@model AppSettingInfoVM

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><a href="/" class="text-muted fw-light">Dashboard /</a> Settings</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="/appsettings"><i class="bx bx-cog me-1"></i> Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appsettings/socials"><i class="bx bx-cube-alt me-1"></i> Socials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appsettings/smtp"><i class="bx bx-envelope me-1"></i> Mail Service</a>
                </li>
            </ul>
            <div class="card">
                <h5 class="card-header">App Settings</h5>
                <div class="card-body">
                    <form id="formAccountSettings" action="/appsettings" method="POST" novalidate>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">Email</label>
                                <input dir="auto" class="form-control"
                                       type="text"
                                       asp-for="Email" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">Contact Email</label>
                                <input dir="auto" class="form-control"
                                       type="text"
                                       asp-for="ContactEmail" />
                            </div>
                            <div class="mb-3 col-md-12">
                                <label for="firstName" class="form-label">Tel</label>
                                <input dir="auto" class="form-control"
                                       type="text"
                                       asp-for="Tel" />
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                            <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#settings-mbtn').addClass('active');
    </script>
}