@using System.Globalization
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Hosting
@{
    string lang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    bool hideLayout = (bool?)TempData["HideLayout"] ?? false;
}
@inject IOptions<CaptchaOptions> captcha
@inject IWebHostEnvironment env

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/admin/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Flowdash - @ViewData["Title"]</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/images/logo.png" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel='stylesheet' href='~/admin/assets/fonts/boxicons/boxicons.min.css'>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!--Swal Alert 2-->
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/admin/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/admin/assets/css/demo.css" />

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/lib/datatable-bs5/dataTables.bootstrap5.css" />

    <!--Multi Select 2-->
    <link rel="stylesheet" href="~/lib/multi-select2/select2.min.css" />
    <link rel="stylesheet" href="~/lib/multi-select2/select2-bootstrap-5-theme.min.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/admin/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="~/lib/daterange-picker/daterangepicker.css" />
    <link rel="stylesheet" href="~/css/admin.css" />

    <!-- Page CSS -->
    @await RenderSectionAsync("Styles", required: false)

    <!-- Helpers -->
    <script src="~/admin/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/admin/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/admin/assets/js/config.js"></script>
</head>
<body>
    <!--Loader-->
    <div id="loader-overlay"></div>

    @if (!hideLayout)
    {
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- Menu -->
                @await Component.InvokeAsync("Sidebar")
                <!-- / Menu -->
                <!-- Layout container -->
                <div class="layout-page">
                    <!-- Navbar -->
                    @await Component.InvokeAsync("Header")
                    <!-- / Navbar -->
                    <!-- Content wrapper -->
                    <div class="content-wrapper">
                        <!-- Content -->
                        <div class="container-xxl flex-grow-1 container-p-y">
                            @RenderBody()
                        </div>
                        <!-- / Content -->
                        <!-- Footer -->
                        @await Component.InvokeAsync("Footer")
                        <!-- / Footer -->

                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
        <!-- / Layout wrapper -->
    }
    else
    {
        @RenderBody()
    }

    @if (env.IsDevelopment())
    {
        <script>
            if (!sessionStorage.getItem("SWAGGER_OPENED")){
                window.open("/swagger/index.html", "_blank")
                sessionStorage.setItem("SWAGGER_OPENED", true)
            }
        </script>
    }

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/admin/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/admin/assets/vendor/js/bootstrap.js"></script>
    <script src="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/admin/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!--Data Tables-->
    <script src="~/lib/datatable-bs5/dataTables.js"></script>
    <script src="~/lib/datatable-bs5/dataTables.bootstrap5.js"></script>

    <!--Sweet Alert 2-->
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

    <!--Multi Select 2-->
    <script src="~/lib/multi-select2/select2.full.min.js"></script>

    <!-- Vendors JS -->
    <script src="~/admin/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!--Daterange Picker-->
    <script src="~/lib/daterange-picker/moment.min.js"></script>
    <script src="~/lib/daterange-picker/daterangepicker.min.js"></script>

    <!-- Main JS -->
    <script src="~/admin/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/admin/assets/js/dashboards-analytics.js"></script>
    <script src="~/js/admin.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
