@model ErrorViewModel
@{
    ViewData["Title"] = "Error Occurred";
    TempData["HideLayout"] = true;
}

@section Styles {
    <link rel="stylesheet" href="~/admin/assets/vendor/css/pages/page-misc.css" />
}

<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Oops... Error Occurred</h2>
        <p class="mb-4 mx-2">An error occurredn, don't worry this is not your fault. Please contact us if the issue persists.</p>
        <a href="/selectproject" class="btn btn-primary">Back to home</a>
        <div class="mt-4">
            <img src="~/admin/assets/img/illustrations/girl-doing-yoga-light.png"
                 alt="girl-doing-yoga-light"
                 width="500"
                 class="img-fluid"
                 data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
                 data-app-light-img="illustrations/girl-doing-yoga-light.png" />
        </div>
    </div>
</div>
