@using Flowdash_Mini.ViewModels.Accounts
@using Microsoft.Extensions.Options
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reset Password";
    TempData["HideLayout"] = true;
}
@inject IOptions<CaptchaOptions> captcha
@model ResetPasswordVM

@section Styles {
    <!-- Page -->
    <link rel="stylesheet" href="~/admin/assets/vendor/css/pages/page-auth.css" />
}

<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="~/images/logo.png" height="80" />
                            </span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Reset Password</h4>
                    <p class="mb-4">Please enter your new password to reset your current password</p>
                    <form id="form-forgot-pwd" class="mb-3 extra-validate" novalidate action="/auth/resetpassword" method="POST">
                        <input name="g-recaptcha-response" hidden />

                        <input asp-for="Token" hidden />
                        <input asp-for="UserId" hidden />

                        @Html.AntiForgeryToken()

                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-start">
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input dir="auto" type="password"
                                       id="password"
                                       asp-for="Password"
                                       class="form-control"
                                       name="password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" required />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        @if (!ViewData.ModelState.IsValid)
                        {
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <ul class="mb-0">
                                        <li>@error.ErrorMessage</li>
                                    </ul>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                        }

                        <button class="btn btn-primary d-grid w-100" type="submit">Reset Password</button>
                    </form>
                    <div class="text-center">
                        <a href="/auth/login" class="d-flex align-items-center justify-content-center">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?hl=en&render=@captcha.Value.SiteKey" async defer></script>
    <script>
        let captchaDone = false;
        function onSubmit() {
            const form = document.querySelector('#form-forgot-pwd');

            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }

            form.submit();
        }

        $("#form-forgot-pwd").on('submit', function (e) {
            if (captchaDone) return;

            e.preventDefault();

            const form = this;
            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }

            grecaptcha.ready(function () {
                grecaptcha.execute('@captcha.Value.SiteKey', { action: 'RESET_PASSWORD' })
                    .then(function (token) {
                        form.querySelector('input[name="g-recaptcha-response"]').value = token;
                        captchaDone = true;
                        form.submit();
                    });
            });
        });
    </script>
}