@using Flowdash_Mini.Extensions
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input dir="auto" type="text"
                       class="form-control border-0 shadow-none"
                       placeholder="Search..."
                       aria-label="Search..." />
            </div>
        </div>
        <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">

            <li class="nav-item navbar-dropdown dropdown-user dropdown me-3">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar flex-shrink-0">
                        <span class="rounded-circle avatar-initial rounded bg-label-secondary fs-20">
                            <i class="bx bx-send"></i>
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" style="width:300px;" data-bs-popper="none">
                    <li class="p-3">
                        <div class="d-flex justify-content-between">
                            <h4 class="d-flex gap-2 align-items-center fs-20 m-0">
                                <i class="bx bx-send"></i>
                                <span>Invites</span>
                            </h4>
                            <a href="/invites">View all</a>
                        </div>
                    </li>
                    <ul class="p-2 m-0 pt-0">
                        <li class="d-flex mb-0 pb-1 bg-hover-light rounded-3 p-2">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-secondary fs-20">
                                    <i class="bx  bx-envelope"></i>
                                </span>
                            </div>
                            <div class="d-flex flex-column w-100 align-items-start justify-content-center gap-2 text-truncate">
                                <h6 class="mb-0 w-100">
                                    <a href="#!" class="text-nowrap overflow-hidden w-100 d-block text-overflow-ellipses" title="Task (xd94FQxT) was completed by (Humam Samra)">
                                        Humam Samra Invited you to join Microsoft
                                    </a>
                                </h6>
                                <div class="d-flex justify-content-between w-100">
                                    <div class="user-progress d-flex align-items-center gap-1">
                                        <i class="text-muted bx bx-calendar"></i>
                                        <h6 class="mb-0 text-muted">19 Aug, 2026</h6>
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <a href="#!" class="p-1 d-flex justify-content-center align-items-center rounded-circle bg-label-danger">
                                            <i class="bx  bx-x"></i>
                                        </a>
                                        <a href="#!" class="p-1 d-flex justify-content-center align-items-center rounded-circle bg-label-success">
                                            <i class="bx  bx-check"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ul>
            </li>

            <li class="nav-item navbar-dropdown dropdown-user dropdown me-3">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar flex-shrink-0">
                        <span class="rounded-circle avatar-initial rounded bg-label-secondary fs-20">
                            <i class="bx bx-bell"></i>
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end notifications-dropdown" data-bs-popper="none">
                    <li class="p-3">
                        <div class="d-flex justify-content-between">
                            <h4 class="d-flex gap-2 align-items-center fs-20 m-0">
                                <i class="bx bx-bell"></i>
                                <span>Notifications</span>
                            </h4>
                            <a href="/notifications">View all</a>
                        </div>
                    </li>
                    <ul class="p-2 m-0 pt-0">
                        <li class="d-flex mb-2 pb-1 bg-hover-light rounded-3 p-2">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-secondary fs-20">
                                    <i class="bx  bx-help-circle"></i>
                                </span>
                            </div>
                            <div class="d-flex flex-column w-100 align-items-start justify-content-center gap-2 text-truncate">

                                <h6 class="mb-0 w-100">
                                    <a href="#!" class="text-nowrap overflow-hidden w-100 d-block text-overflow-ellipses" title="Task (xd94FQxT) was completed by (Humam Samra)">
                                        Task (xd94FQxT) was completed by (Humam Samra)
                                    </a>
                                </h6>
                                <div class="user-progress d-flex align-items-center gap-1">
                                    <i class="text-muted bx bx-calendar"></i>
                                    <h6 class="mb-0 text-muted">19 Aug, 2026</h6>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex mb-2 pb-1 bg-hover-light rounded-3 p-2">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-success fs-20">
                                    <i class="bx  bx-check-circle"></i>
                                </span>
                            </div>
                            <div class="d-flex flex-column w-100 align-items-start justify-content-center gap-2 text-truncate">

                                <h6 class="mb-0 w-100">
                                    <a href="#!" class="text-nowrap overflow-hidden w-100 d-block text-overflow-ellipses" title="Task (xd94FQxT) was completed by (Humam Samra)">
                                        Task (xd94FQxT) was completed by (Humam Samra)
                                    </a>
                                </h6>
                                <div class="user-progress d-flex align-items-center gap-1">
                                    <i class="text-muted bx bx-calendar"></i>
                                    <h6 class="mb-0 text-muted">19 Aug, 2026</h6>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex mb-2 pb-1 bg-hover-light rounded-3 p-2">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-danger fs-20">
                                    <i class="bx  bx-alert-circle"></i>
                                </span>
                            </div>
                            <div class="d-flex flex-column w-100 align-items-start justify-content-center gap-2 text-truncate">

                                <h6 class="mb-0 w-100">
                                    <a href="#!" class="text-nowrap overflow-hidden w-100 d-block text-overflow-ellipses" title="Task (xd94FQxT) was completed by (Humam Samra)">
                                        Task (xd94FQxT) was completed by (Humam Samra)
                                    </a>
                                </h6>
                                <div class="user-progress d-flex align-items-center gap-1">
                                    <i class="text-muted bx bx-calendar"></i>
                                    <h6 class="mb-0 text-muted">19 Aug, 2026</h6>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex pb-1 bg-hover-light rounded-3 p-2">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-success fs-20">
                                    <i class="bx  bx-check-circle"></i>
                                </span>
                            </div>
                            <div class="d-flex flex-column w-100 align-items-start justify-content-center gap-2 text-truncate">

                                <h6 class="mb-0 w-100">
                                    <a href="#!" class="text-nowrap overflow-hidden w-100 d-block text-overflow-ellipses" title="Task (xd94FQxT) was completed by (Humam Samra)">
                                        Task (xd94FQxT) was completed by (Humam Samra)
                                    </a>
                                </h6>
                                <div class="user-progress d-flex align-items-center gap-1">
                                    <i class="text-muted bx bx-calendar"></i>
                                    <h6 class="mb-0 text-muted">19 Aug, 2026</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ul>
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar flex-shrink-0">
                        <span class="rounded-circle avatar-initial rounded bg-label-secondary fs-20">
                            <i class="bx bx-user"></i>
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="/myaccount">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img src="~/images/user.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">
                                        @User.GetUserName()
                                    </span>
                                    <small class="text-muted">@User.GetUserEmail()</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2" href="/myaccount">
                            <i class="bx bx-user me-2"></i>
                            <span class="align-middle">My Profile</span>
                        </a>
                    </li>
                    @if (ViewBag.MemberType != null)
                    {
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="/selectproject">
                                <i class="bx bx-arrow-left-right me-2"></i>
                                <span class="align-middle">Switch Project</span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                    }
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-2" href="/auth/logout">
                            <i class="bx bx-power me-2"></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>
