@using Flowdash_Mini.ViewModels.Accounts
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Account";
}
@model UserVM

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Profile Details</h5>
            <!-- Account -->
            <div class="card-body">
                <form id="formAccountSettings" method="POST" class="extra-validate" novalidate autocomplete="off">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="fullname" class="form-label">Full Name</label>
                            <input class="form-control" type="text" id="fullname" asp-for="FullName" autofocus="" required>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="username" class="form-label">Username</label>
                            <input class="form-control" type="text" asp-for="UserName" id="username" autocapitalize="off" required>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="email" class="form-label">E-mail</label>
                            <input class="form-control mb-1" type="text" id="email" asp-for="Email" required placeholder="john.doe@example.com">
                            <small class="text-muted d-flex gap-1 align-items-center">
                                <i class="bxf  bx-message-circle-detail"></i>
                                <span>
                                    Please note that changing your account will log you out to re-confirm your e-mail
                                </span>
                            </small>
                        </div>
                        @if (!ViewData.ModelState.IsValid)
                        {
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <ul class="mb-0">
                                        <li>@error.ErrorMessage</li>
                                    </ul>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                        }
                        else if (ViewBag.Success != null && ViewBag.Success == true)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <ul class="mb-0">
                                    <li>Account Updated Successfully</li>
                                </ul>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                            <button type="reset" class="btn btn-outline-secondary">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#my-acc-mbtn').addClass('active')

            var proceed = false;
            var originalEmail = '@Model.Email'
            $('#formAccountSettings').on('submit', function(ev) {
                if (!proceed && $('input#email').val().toLowerCase().trim() != originalEmail.toLowerCase().trim()) {
                    ev.preventDefault()
                    if ($('input#email').val().toLowerCase().trim() != originalEmail.toLowerCase().trim()) {
                        Swal.fire({
                            title: "Sign Out",
                            text: 'You will be signed out from this account to re-confirm your new email, are you sure you want to continue?',
                            showCancelButton: true,
                            confirmButtonText: "Yes, Sign Out",
                            icon: 'question',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                proceed = true
                                $(this).submit()
                            }
                        });
                    }
                }
            })
        })
    </script>
}