@using Flowdash_Mini.Enums
@using Flowdash_Mini.ViewModels.Activities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Activity";
    int x = 1;
}
@model List<ProjectLogVM>

<div class="flex-grow-1">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="fw-bold py-3 mb-4"><a href="/project" class="text-muted fw-light">Project /</a> Activity Log</h4>
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <a href="javascript:void(0);" class="refresh-btn btn btn-outline-secondary d-flex justify-content-center align-items-center gap-2">
                <i class="bx bx-refresh-cw"></i> <span>Refresh</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Activity Log</h5>
                <div class="card-body">
                    <div class="table-responsive table-responsive text-nowrap">
                        <table class="table table-bordered data-table-list">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        <h6 class="m-0">Action</h6>
                                    </th>
                                    <th>
                                        <h6 class="m-0">Date & Time</h6>
                                    </th>
                                    <th>
                                        <h6 class="m-0">Member</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-start">
                                            <h6 class="m-0">@(x++)</h6>
                                        </td>
                                        <td>
                                            <div class="d-flex gap-2 align-items-center justify-content-start">
                                                <h6 class="m-0">
                                                    @item.Text
                                                </h6>
                                            </div>
                                        </td>
                                        <td>
                                            <h6 class="m-0">@item.CreatedAt.ToString("dd MMM, yyyy hh:mm tt")</h6>
                                        </td>
                                        <td>
                                            <h6 class="d-flex justify-content-center align-items-center gap-2 m-0">
                                                <span>@item.CreatedBy</span>
                                                @if (item.CreatedByRole == MemberType.User)
                                                {
                                                    <span class="badge bg-label-primary text-primary">
                                                        User
                                                    </span>
                                                }
                                                else if (item.CreatedByRole == MemberType.Admin)
                                                {
                                                    <span class="badge bg-label-warning text-warning">
                                                        Admin
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-label-success text-success">
                                                        Owner
                                                    </span>
                                                }
                                            </h6>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
            $('#activity-mbtn').addClass('active')
        })
    </script>
}