@using Flowdash_Mini.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    MemberType? mt = ViewBag.MemberType;
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="" class="app-brand-link">
            <img src="~/images/logo.png" height="35" />
            <h4 class="demo menu-text fw-bolder ms-2 mb-0">FlowDash</h4>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item" id="home-mbtn">
            <a href="@(ViewBag.MemberType != null ? "/project" : "/")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Home page</div>
            </a>
        </li>

        @if (User.IsInRole(nameof(UserType.Admin)))
        {
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Security</span>
            </li>
            <li class="menu-item" id="sidebar-users">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-group"></i>
                    <div data-i18n="Account Settings">Website Users</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/users" class="menu-link">
                            <div data-i18n="Account">View all</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/users/create" class="menu-link">
                            <div data-i18n="Notifications">Create User</div>
                        </a>
                    </li>
                </ul>
            </li>
        }

        @if (ViewBag.MemberType != null)
        {
            <li class="menu-item" id="members-mbtn">
                <a href="/project/members"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-community"></i>
                    <div data-i18n="Documentation">Members</div>
                </a>
            </li>

            <li class="menu-item" id="progress-mbtn">
                <a href="/project/progress"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-circle-dashed-half"></i>
                    <div>Progress</div>
                </a>
            </li>

            if (ViewBag.MemberType == MemberType.Owner || ViewBag.MemberType == MemberType.Admin)
            {
                <!-- Forms & Tables -->
                <li class="menu-header small text-uppercase"><span class="menu-header-text">Settings</span></li>
                <!-- Forms -->
                <li class="menu-item" id="manage-mbtn">
                    <a href="/project/manage"
                       class="menu-link">
                        <i class="menu-icon tf-icons bx bx-cog"></i>
                        <div data-i18n="Documentation">Manage</div>
                    </a>
                </li>
            }
        }

        @if (User.IsInRole(nameof(UserType.Admin)))
        {
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Admin Settings</span></li>
            <li class="menu-item" id="settings-mbtn">
                <a href="/appsettings"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-toggles"></i>
                    <div>Settings</div>
                </a>
            </li>
            <li class="menu-item" id="settings2-mbtn">
                <a href="/appsettings/socials"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                    <div>Socials</div>
                </a>
            </li>
            <li class="menu-item" id="settings3-mbtn">
                <a href="/appsettings/smtp"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-envelope"></i>
                    <div>Mail Service</div>
                </a>
            </li>
        }
    </ul>
</aside>
