@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="" class="app-brand-link">
            <img src="~/images/logo.png" height="50" />
            <h4 class="demo menu-text fw-bolder ms-2 mb-0">FlowDash</h4>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item" id="admin-mbtn">
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <li class="menu-item" id="home-mbtn">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Home page</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Security</span>
        </li>
        <li class="menu-item" id="user-mbtn">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div data-i18n="Account Settings">Users</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/users" class="menu-link">
                        <div data-i18n="Account">View all</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/users/create" class="menu-link">
                        <div data-i18n="Notifications">Create User</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Forms & Tables -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Settings</span></li>
        <!-- Forms -->
        <li class="menu-item" id="settings-mbtn">
            <a href="/appsettings"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Documentation">Settings</div>
            </a>
        </li>
        <li class="menu-item" id="settings2-mbtn">
            <a href="/appsettings/socials"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Documentation">Socials</div>
            </a>
        </li>
        <li class="menu-item" id="settings3-mbtn">
            <a href="/appsettings/smtp"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-envelope"></i>
                <div data-i18n="Documentation">Mail Service</div>
            </a>
        </li>
    </ul>
</aside>
